<div class="modal-backdrop show"></div>

<div class="modal d-block" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>

                <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
            </div>

            <div class="modal-body">
                <ng-container *ngIf="bodyTemplate" 
                              [ngTemplateOutlet]="bodyTemplate"
                              [ngTemplateOutletContext]="{ $implicit: data }"> 
                </ng-container>

                <p *ngIf="!bodyTemplate && message">{{ message }}</p>
            </div>

            <div class="modal-footer" *ngIf="showCancelButton || showConfirmButton">
                <button *ngIf="showCancelButton" type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
                <button  *ngIf="showConfirmButton" type="button" class="btn btn-primary" (click)="confirm()">Confirmar</button>
            </div>

        </div>
    </div>
</div>