.menu {
  background: #0a4275;
  padding: 1rem;
  display: flex;
  gap: 4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-top: 12px;
    &.active {
      text-decoration: underline;
    }
  }
}

.content {
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-korp {
  margin-left: auto;
}

.login-description {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: #fff;
}
