.menu {
  background: #0a4275;
  padding: 1rem;
  display: flex;
  gap: 1rem;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;

    &.active {
      text-decoration: underline;
    }
  }
}

.content {
  padding: 1rem;
}
