<nav class="menu">
  <a routerLink="/products" routerLinkActive="active" *ngIf="isLoggedIn() && !isLoginPage()">Cadastro de Produtos</a>
  <a routerLink="/invoices" routerLinkActive="active" *ngIf="isLoggedIn() && !isLoginPage()">Emissão de Notas Fiscais</a>
  <h2 class="login-description" *ngIf="isLoginPage()">NF Korp - Sistema de emissão de Notas Fiscais</h2>
  <div class="logo-korp">
    <a href="https://www.korp.com.br/" target="_blank" title="Acesse o site da Korp ERP">

    <img src="assets/images/logo-dark.png" width="188" height="48" itemprop="logo" class="logo" alt="Korp ERP"
   style="border-radius: 25px; box-shadow: 3px 3px 10px #000;" >

  </a>

  </div>
  
  
</nav>

<main class="content">
  <router-outlet></router-outlet>
  <app-logout-button *ngIf="isLoggedIn() && !isLoginPage()"></app-logout-button>
</main>
