<h2 class="text-color fw-bold mb-4">Produtos</h2>

<form [formGroup]="form" (ngSubmit)="save()" class="product-form">
  <input formControlName="code" placeholder="Código" list="codes" (change)="onSelectCode()" />
  <datalist id="codes">
    <option *ngFor="let p of products" [value]="p.code">{{p.description}}</option>
  </datalist>

  <input formControlName="description" placeholder="Descrição" list="descriptions" (change)="onSelectDescription()" />
  <datalist id="descriptions">
    <option *ngFor="let p of products" [value]="p.description">{{p.code}}</option>
  </datalist>

  <input formControlName="balance" type="number" placeholder="Saldo" />
  <button type="submit">Salvar</button>
</form>


<hr />

<table class="product-table" *ngIf="products.length > 0; else empty">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.code }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.balance }}</td>
    </tr>
  </tbody>
</table>

<ng-template #empty>
  <p class="empty-message">Nenhum produto cadastrado.</p>
</ng-template>
