<h2>Produtos</h2>

<form [formGroup]="form" (ngSubmit)="save()" class="product-form">
  <input formControlName="code" placeholder="Código" />
  <input formControlName="description" placeholder="Descrição" />
  <input formControlName="balance" type="number" placeholder="Saldo" title="Saldo"/>
  <button type="submit">Salvar</button>
</form>

<hr />

<table class="product-table" *ngIf="products.length > 0; else empty">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.code }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.balance }}</td>
    </tr>
  </tbody>
</table>

<ng-template #empty>
  <p class="empty-message">Nenhum produto cadastrado.</p>
</ng-template>
