h2{
  font-weight: 600;
  color: #0a4275;
}

.product-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: small;
  }

  button {
    background: #0a4275;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    border-radius: 12px;
  }
}

.product-table {
  display: table;
  margin-top: 4rem;
  width: 50%;
  justify-self: center;
  border-collapse: collapse;
  box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border-style: hidden;
  

  th, td {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #0a4275;
    color: #fff;
  }

  tr:hover {
    background-color: #f2f2f2;
  }
}

.empty-message {
  color: #777;
  font-style: italic;
}

.bi.bi-trash:hover {
  color: red;
 
}

.bi.bi-pencil-square:hover {
  color: #0a4275;
 
}
