.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transform: translateY(60%);

  input {
    width: 200px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #0a4275;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: min-content;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .error {
    color: red;
    font-size: 0.9rem;
  }
}
