.container {
  max-width: 900px;
}

h2 {
  font-weight: 600;
  color: #0a4275;
}

.card {
  border-radius: 0.6rem;
}

.card-header {
  font-size: 1rem;
}

.table {
  font-size: 0.95rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.table th {
  font-weight: 600;
}

button i {
  margin-right: 4px;
}

.btn {
  border-radius: 6px;
}

.btn-success {
  background-color: #0a4275;
  border: none;
}

.btn-success:hover {
  background-color: #157347;
}

.btn-primary {
  background-color: #0a4275;
  border: none;
}

.btn-primary:hover {
  background-color: #0a4275;
}

.text-muted {
  font-size: 0.9rem;
}

.bi.bi-trash:hover {
  color: red;
 
}

.alert {
  font-size: 0.9rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.loader.mr-4 {
  display: inline-block;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  color: black;
  margin-right: 8px;
  size: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.mr-4 svg {
  width: 20px;
  height: 20px;
}
