.container {
  max-width: 900px;
}

h2 {
  font-weight: 600;
  color: #0a4275;
}

.card {
  border-radius: 0.6rem;
}

.card-header {
  font-size: 1rem;
}

.table {
  font-size: 0.95rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.table th {
  font-weight: 600;
}

button i {
  margin-right: 4px;
}

.btn {
  border-radius: 6px;
}

.btn-success {
  background-color: #0a4275;
  border: none;
}

.btn-success:hover {
  background-color: #157347;
}

.btn-primary {
  background-color: #0a4275;
  border: none;
}

.btn-primary:hover {
  background-color: #0a4275;
}

.text-muted {
  font-size: 0.9rem;
}

.bi.bi-trash:hover {
  color: red;
 
}

button .bi-card-list{
  background-color: transparent;
  border-color: transparent;

}

.btn.btn-md.btn-outline-primary{
  --bs-btn-border-color: transparent;
  margin-left: 1.6rem;
}

.alert {
  position: fixed;
  top: 30px;                
  left: 50%;               
  transform: translateX(-50%); 
  
  min-width: 300px;        
  max-width: 90vw;          
  text-align: center;
  font-size: 0.95rem;
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  transition: opacity 0.4s ease, transform 0.4s ease;
  animation: fadeSlideDown 0.4s forwards;
  opacity: 0;
  transform: translate(-50%, -20px);
}

@keyframes fadeSlideDown{
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}


.loader.mr-4 {
  display: inline-block;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  color: black;
  margin-right: 8px;
  size: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.mr-4 svg {
  width: 20px;
  height: 20px;
}
